
.container{
    text-align: center;
}

img{
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
}

.g-recaptcha > div{
    margin: auto;
}

.comparison img{
    width: 90%;
}

.comparison button{
    margin: 5px 10px;
}

.logo{
    font-weight: bold;
    color: lightblue;
}

.fb-share-button{
    text-align: center;
    margin: 10px;
}